
body{
    font-family: "Helvetica";
}
h1 {
    font-family: "Arial";
    background-color: #426493;
    color: #ffffff;
}
h2 {
    font-family: "Arial";
    color: #1E97DC;
}

h3 {
    font-family: "Arial";
    color: #255E7F;
}

#header {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #426493;
}

#content {
    width: 75%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
a {
    color: #426493;
}
